<!DOCTYPE html>
<html>
  <head>
    <title>CamShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <div class="w3-container w3-padding-32 w3-theme-l5" id="contact">
      <div class="w3-row">
        <div class="w3-col m5">
         <%= render 'layouts/messages' %>
        </div>
      </div>
    </div>
    
    
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
